<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ClienteMapper">
    
    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
            select
        
        c.documento,
        c.nombre,
        c.telefono,
        c.direccion,
        c.email,
        c.vetado,
    
        
        ir.id as ir_id,
        ir.fechainiciorenta as ir_fechainiciorenta,
        ir.fechafinrenta as ir_fechafinrenta,
        ir.CLIENTES_documento as ir_documentocliente,
        
        
        
        i.id as ir_i_id, 
        i.nombre as ir_i_nombre,
        i.descripcion as ir_i_descripcion,
        i.fechalanzamiento as ir_i_fechalanzamiento,
        i.tarifaxdia as ir_i_tarifaxdia,
        i.formatorenta as ir_i_formatorenta,
        i.genero as ir_i_genero,  
              
        ti.id as ir_i_ti_id,
        ti.descripcion as ir_i_ti_descripcion
        
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
        
    </select>
    
    <select id="consultarTipoItem" resultMap="TipoItemResult" parameterType="map">
        SELECT * 
        FROM VI_TIPOITEM 
        WHERE id=#{id}
    </select>
    
    <resultMap type="TipoItem" id="TipoItemResult">
        <id property="id" column="id"></id>
        <result property="descripcion" column="descripcion" />
    </resultMap>
    
    <resultMap type='Cliente' id='ClienteResult'>
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='telefono' column='telefono'/>  
        <result property='direccion' column='direccion'/>
	<result property="email" column="email"/>
        <result property='vetado' column='vetado'/>
        <collection property='rentados' ofType='ItemRentado' columnPrefix="ir_" resultMap='ItemRentandoResult'></collection>      
    </resultMap>
    
    <resultMap type='ItemRentado' id='ItemRentandoResult'>
        <id property='id' column='id'/>
        <result property="fechainiciorenta" column="fechainiciorenta"/>
        <result property='fechafinrenta' column='fechafinrenta'/>   
        <association   property="item" javaType="Item" columnPrefix="i_" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"></association>
    </resultMap>
   
    
          	
    <insert parameterType="map" id="registrarAlquilerCliente" >
                insert into VI_ITEMRENTADO (ClIENTES_documento,ITEMS_id,fechainiciorenta,fechafinrenta) values (#{id}, #{idit}, #{fechainicio}, #{fechafin})
    </insert>  
    
    <insert parameterType="map" id="registrarCliente" >
                insert into VI_CLIENTES values (#{documento}, #{nombre}, #{telefono}, #{direccion}, #{email},0)
    </insert>  
          
    <select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
            select
        
        c.documento,
        c.nombre,
        c.telefono,
        c.direccion,
        c.email,
        c.vetado,
    
        
        ir.id as ir_id,
        ir.fechainiciorenta as ir_fechainiciorenta,
        ir.fechafinrenta as ir_fechafinrenta,
        ir.CLIENTES_documento as ir_documentocliente,
        
        
        
        i.id as ir_i_id, 
        i.nombre as ir_i_nombre,
        i.descripcion as ir_i_descripcion,
        i.fechalanzamiento as ir_i_fechalanzamiento,
        i.tarifaxdia as ir_i_tarifaxdia,
        i.formatorenta as ir_i_formatorenta,
        i.genero as ir_i_genero,  
              
        ti.id as ir_i_ti_id,
        ti.descripcion as ir_i_ti_descripcion
        
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
        WHERE documento=#{id} 
        
    </select>
    
    <select id="consultarItemRentadoId" resultType="int">
        SELECT IFNULL(MAX(id), 0) FROM VI_ITEMRENTADO;
    </select>
    
    <select parameterType="map" id="consultarItemRentado" resultMap="ClienteResult">
            select 
        ir.id
        FROM VI_ITEMRENTADO as ir,VI_ITEMS as i 
        WHERE  ir.ITEMS_id=#{id}=i.id
        
    </select>  
         
         
    <delete parameterType="map" id="registrarDevolucion">
        DELETE * FROM VI_ITEMRENTADO WHERE ITEMS_id=#{iditem}
    </delete>    
    
    <update parameterType="map" id="vetarCliente">
        update VI_CLIENTES set vetado=1 where id=#{docu}
    </update>
                
</mapper>